<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  Nosso intuito com a World Docs sempre foi viabilizar e simplificar a experiência do usuário, além de contar com uma abordagem mais humana para possíveis problemas.

Missão: Facilitar a experiência do usuário e oferecer um contato com o usuário de primeira.

Visão: Tornar World Docs a melhor aplicação web em gestão de documentos.

Valores: Respeito, responsabilidade e comprometimento.

</ion-content>
