<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-img src="assets/worlddocs.png"></ion-img>
  </div>
  <p>Somos uma empresa focada apenas em viabilizar e simplificar a experiência do usuário e tornar a gestão de documentos mais fácil a cada click.

    Nossa missão é facilitar o que é gestão de documentos e efetuar um atendimento cada vez mais humano.
    Nossa visão é ser a melhor no ramo de gestão de documentos através de um conceito simples e que funciona.
    Os va
  </p>


</ion-content>
